#map {
    height: 300px;
    /* width: 300px; */
    width: 100%;
    /* width: 50%; */
}


.leaflet-touch .leaflet-bar a {
    color: white;
    border: 0px;
    /* width: 50px; */
    background-color: #fb3a1b;
    user-select: none;
}

#outer-container {
    display: flex;
    flex-direction: row;
}

.map-container {
    flex: 1;
}

.info-container {
    flex: 1;
}